.el-menu--popup-right-start{
    /**这里有个问题 如果以下样式改变了之后 主题变换后 以下样式不会变
    此处是改变在菜单缩小时展示box的背景颜色 把透明改成菜单颜色*/
    background-color: #ffffff !important;
}
.el-submenu__title{
     /**此处是改变在菜单缩小时展示box的字体颜色*/
    color: rgba(180, 180, 180, 0.7) !important;
}
.el-submenu__title:hover{
    /**此处是改变在菜单缩小时展示box时选中项的背景色*/
    background-color: rgba(180, 180, 180, 0.2) !important;
}
.el-menu-item:hover{
    /**此处是改变在菜单缩小时展示box时选中项第二级以及以后的背景色*/
    background-color: rgba(180, 180, 180, 0.2) !important;
}
.el-menu--popup{
    .el-menu-item{
        background-color: #20222a;
        i{
            margin-right: 5px;
        }
        i,span{
            color:hsla(0,0%,100%,.7);
        }
        &:hover{
            i,span{
                color:#fff;
            }
        }
        &.is-active {
            background-color: rgba(0,0,0,.8);
            &:before {
                content: '';
                top: 0;
                left: 0;
                bottom: 0;
                width: 4px;
                background: #409eff;
                position: absolute;
            }
            i,span{
                color:#fff;
            }
        }
    }
    
}
.avue-sidebar {
    user-select: none; 
    position: relative;
    padding-top: 60px;
    height: 100%;
    position: relative;
    background-color: #20222a;
    transition: width .2s;
    box-sizing: border-box;
    box-shadow: 2px 0 6px rgba(0,21,41,.35);
    &--tip{
        width:90%;
        height: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        position: absolute;
        top:5px;
        left:5%;
        color:#ccc;
        z-index: 2;
        text-align: center;
        font-size: 14px;
        background-color: rgba(0,0,0,.4);
    }
    .el-menu-item,.el-submenu__title{
        i{
            margin-right: 5px;
        }
        i,span{
            color:hsla(0,0%,100%,.7);
        }
        &:hover{
            background: transparent;
            i,span{
               color:#fff;
            }
        }
        &.is-active {
            &:before {
                content: '';
                top: 0;
                left: 0;
                bottom: 0;
                width: 4px;
                background: #409eff;
                position: absolute;
            }
            background-color: rgba(0,0,0,.8);
            i,span{
                color:#fff;
            }
        }
    }
}

// 菜单svg图标样式
.el-submenu__title svg{
    vertical-align: middle !important;
    margin-right: 5px;
    text-align: center;
    font-size: 30px;
}
  
.avue-sidebar .el-menu-item svg {
    vertical-align: middle;
    margin-right: 5px;
    text-align: center;
    font-size: 30px;
}